<section class="category-scroller snaps-inline">
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="" alt="">
        </div>
        <p class="category-name">Men</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="" alt="">
        </div>
        <p class="category-name">Women</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="" alt="">
        </div>
        <p class="category-name">Kids</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="" alt="">
        </div>
        <p class="category-name">Sport</p>
    </a>
</section>