<section class="category-scroller snaps-inline">
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/314103923604_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Men</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/315551174402_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Women</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/315348557802_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Kids</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/315551972102_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Sport</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/314103923604_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Men</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/315551174402_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Women</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/315348557802_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Kids</p>
    </a>
    <a href="#" class="category-element">
        <div class="image-container">
            <img src="https://images.footlocker.com/is/image/FLEU/315551972102_01?wid=520&hei=520&fmt=png-alpha" alt="">
        </div>
        <p class="category-name">Sport</p>
    </a>
</section>