<section class="category-grid">
    <div class="container">
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Dresses</h3>
        </a>
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Banana</h3>
        </a>
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Orange</h3>
        </a>
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Pear</h3>
        </a>
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Apple</h3>
        </a>
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Watermelon</h3>
        </a>
        <a class="category-item">
            <!-- <img src="https://img01.ztat.net/navigation-entrypoint/c6349e9776483d53a44850ff22db0043/3ce0557417ce4fce8412b6a7f9294f4c.jpg?imwidth=215" alt=""> -->
            <h3>Coconut</h3>
        </a>
    </div>
</section>