@using Manero.Models.DTO
@using Manero.ViewModels;
@model ProductModel

@*
*@
@{
    string productName = Model.ProductName;
    if (!string.IsNullOrEmpty(productName))
    {
        productName = char.ToUpper(productName[0]) + productName.Substring(1);
    }
}

<!--Ska ligga i en container med 334/335px bredd och ska centereras-->

<div class="product-card-small">

    <div class="product-card-small-left">
            <a asp-controller="Products" asp-action="ProductDetails" asp-route-id="@Model.ArticleNumber">
            <div class="product-image">
                @if (Model.Images != null)
                {
                    @foreach (var image in Model.Images)
                    {
                        if (image.IsMainImage == true)
                        {
                            <img src="./assets/images/products/@image.ImageUrl" alt="image">
                        }

                    }
                }
            </div>
        </a>
    </div>

    <div class="product-card-small-right">
        <div class="product-details">
            <div class="upper-details">

                <a href="#">
                    <h3 href="#" class="product-title">@productName</h3>
                </a>

                <a class="wish-list" href="#"><i class="fa-thin fa-heart"></i></a>

            </div>

            <div class="lower-details">

                <h4 class="product-price">@Model.ProductPrice</h4>

                <ul>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-solid fa-star"></i></li>
                    <li><i class="fa-light fa-star"></i></li>
                    <li><i class="fa-light fa-star"></i></li>
                    <li class="review-amount">(3)</li>
                </ul>
            </div>

        </div>
    </div>
</div>
