@* ﻿@{
    List<CartItem> cartItems = // Get your cart items from the data source here.
    int cartQuantity = cartItems.Count;
    bool itemAdded = cartQuantity > 0;
    decimal total = 0;

    foreach (var item in cartItems)
    {
        total += item.Product.Price * item.Quantity;
    }
} *@

<div class="shoppping-cart">
    <a href="#shoppingCart" type="button" data-bs-toggle="offcanvas" data-bs-target="#shoppingCartRight" aria-controls="shoppingCartRight">
        <i class="fa-regular fa-basket-shopping-simple"></i>
        <span class="notification translate-middle badge rounded-pill"><!--{cartQuantity}-->0</span>
    </a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="shoppingCartRight" aria-labelledby="shoppingCartRightLabel">
        <div class="offcanvas-header">
            <div class="line"></div>
            <h3>Shopping Cart</h3>
        </div>
        <div class="offcanvas-body">
            @*                         @if (itemAdded)
            {
            <div>
            <div>
            @foreach (var item in cartItems)
            {
            @Html.Partial("_ShoppingCartItem", item)
            }
            </div>
            <div class="checkout">
            <a href="/mybag" class="d-flex j-c a-i alert alert-success text-center" data-bs-dismiss="offcanvas">
            <div>CHECKOUT</div>
            <div>Total: @total.ToString("C")</div>
            </a>
            </div>
            </div>
            }
            else
            {
            <div>
            <p class="alert alert-warning text-center">Your Cart is Empty.</p>
            </div>
            } *@
        </div>
    </div>
</div>   