@model HomeIndexViewModel

<section class="category-scroller snaps-inline">
    @foreach (var category in Model.Categories!)
    {
        <div class="category-element">
            <a asp-action="Index" asp-controller="Shop" asp-route-category="@category.Category" class="category-container">
                <img src="https://images.footlocker.com/is/image/FLEU/314103923604_01?wid=520&hei=520&fmt=png-alpha" alt="">
                <p class="category-name">@category.Category</p>
            </a>
        </div>
    }
</section>