<section class="category-scroller snaps-inline">
    <div class="category-element">
        <a asp-action="Index" asp-controller="Shop" asp-route-category="Men" class="category-container">
            <img src="https://images.footlocker.com/is/image/FLEU/314103923604_01?wid=520&hei=520&fmt=png-alpha" alt="">
            <p class="category-name">Men</p>
        </a>
    </div>
    <div class="category-element">
        <a href="#" class="category-container">
            <img src="https://images.footlocker.com/is/image/FLEU/314103923604_01?wid=520&hei=520&fmt=png-alpha" alt="">
            <p class="category-name">Men</p>
        </a>
    </div>
</section>