@model HomeIndexViewModel

<section class="category-grid">
    <div class="category-container">
        @foreach (var category in Model.Categories!) {
            <a asp-action="Index" asp-controller="Shop" asp-route-category="@category.Category" class="category-item">
                @*<img src="" alt="">*@
                <h3 class="category-name">@category.Category</h3>
            </a>
        }
    </div>
</section>