
<section class="product-details-section">
    <partial name="/Views/Partials/Components/_CarouselProductImages.cshtml" />
    <div class="container-sm">
        <div class="title-wishlist">
            <!-- product title -->
            <h2>
                Knitted summer top</h3>
                <!-- add to wishlist  -->
                <i class="fa-regular fa-heart"></i>
        </div>
        <!-- product rating -->
        <div class="product-rating">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-regular fa-star"></i>
            <div class="total-reviews">(23)</div>
        </div>

        <!-- product price and add to cart -->
        <div class="price-cart">
            <h3>$37.88</h3>
            <div class="add-to-cart">
                <button>-</button>
                <div class="amount">1</div>
                <button>+</button>
            </div>
        </div>

        <!-- product sizes -->
        <div class="product-size">
            <div class="title">Size</div>
            <div class="size-buttons">
                <button>XS</button>
                <button>S</button>
                <button>M</button>
                <button>L</button>
                <button>XL</button>
                <button>XXL</button>
            </div>
        </div>
        <!-- product colors -->
        <div class="product-colors">
            <div class="title">Color</div>
            <div class="color-buttons">
                <button class="red"></button>
                <button class="blue"></button>
                <button class="beige"></button>
                <button class="navy"></button>
                <button class="black"></button>
            </div>
        </div>
        <!-- description -->
        <div class="description">
            <div class="title">Description</div>
            <div class="text">Amet amet Lorem eu consectetur in deserunt nostrud dolor culpa ad sint amet. Nostrud deserunt consectetur culpa minim mollit veniam aliquip pariatur exercitation ullamco ea voluptate et. Pariatur ipsum mollit magna proident nisi ipsum.</div>
        </div>
        <div class="btn btn-dark">+ ADD TO CART</div>
    </div>
</section>