<section class="product-reviews-section">
    <div class="container-sm">
        <div class="review-view-all">
            <h2>Reviews (23)</h2>
            <a asp-action="Index" asp-controller="Reviews" asp-route-articleNumber="Test-1">view all<i class="fa-light fa-chevron-right"></i></a>
        </div>
    </div>
    <div class="review">
        <div class="container-sm">
            <div class="review-info">
                <img class="review-image" src="~/assets/images/products/reviewer-image.png" />
                <div class="name-date">
                    <div class="name">Anette Black</div>
                    <div class="review-date">23 Jan 2022</div>
                </div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="review-text">Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident commodo.</div>
        </div>
    </div>

    <div class="review">
        <div class="container-sm">
            <div class="review-info">
                <img class="review-image" src="~/assets/images/products/reviewer-image.png" />
                <div class="name-date">
                    <div class="name">Jenny Wilson</div>
                    <div class="review-date">23 Jan 2022</div>
                </div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="review-text">Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident commodo.</div>
        </div>
    </div>

    <div class="review">
        <div class="container-sm">
            <div class="review-info">
                <img class="review-image" src="~/assets/images/products/reviewer-image.png" />
                <div class="name-date">
                    <div class="name">Anna Eriksson</div>
                    <div class="review-date">23 Jan 2022</div>
                </div>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
            <div class="review-text">Consequat ut ea dolor aliqua laborum tempor Lorem culpa. Commodo veniam sint est mollit proident commodo.</div>
        </div>
    </div>
</section>