<section class="showcase-section container">
    <div class="showcase-container">
        <img src="https://i8.amplience.net/i/jpl/desktop-middle-banner-1704x740-2023-10-23t101937783-530e824adc9887f36aceb93c99b49e1c" alt="">
        <div class="showcase-content">
            <h2>Take 50% off!</h2>
            <a href="#" class="btn btn-white">SHOP NOW</a>
        </div>
    </div>
</section>