<section class="category-scroller snaps-inline">
    <div class="category-element">
        <a href="#" class="content-container">
            <div class="pill-shape active">
                <p class="category-name">MEN</p>
            </div>
        </a>
    </div>
    <div class="category-element">
        <a href="#" class="content-container">
            <div class="pill-shape active">
                <p class="category-name">WOMEN</p>
            </div>
        </a>
    </div>
</section>