@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BestSellingViewModel
@{

}
<section class="best-sellers">
    <div class="banner-title">
        <h1>@Model.Title</h1>
        <a asp-action="Index"
           asp-controller="Products"
           asp-route-Tags="Best Sellers">
           view all
            <i class="fa-solid fa-angle-right"></i>
        </a>
    </div>
    <div class="best-products">
        @foreach (var product in Model.GridItems)
        {
@*            if (product.Tags.Any(tag => tag.Tag == "Best Sellers"))
            {

            }*@
            <Partial name="/Views/Partials/Components/_Product-Card-Small.cshtml" model="product" />

        }
    </div>
</section>