@using Manero.Models.DTO
@model ProductModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="big-card-discount">
    <a class="product-card-big" href="#">
        <div class="image-card">
            <div class="image-placeholder"></div>
        </div>
        <div class="card-information">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span class="star-total">(3)</span>
            </div>
            <h3>@Model.ProductName</h3>
            <div class="price-detail">
                <span class="price">$@Model.ProductPrice</span>
                <span class="price-disscount">$10.78</span>
            </div>
        </div>
    </a>
    <div class="sale-banner">sale</div>
    <div class="card-menu">
        <a class="wish-list" href="#"><i class="fa-thin fa-heart"></i></a>
        <a class="shopping-cart" href="#"><i class="fa-thin fa-bag-shopping"></i></a>
    </div>
</div>