@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="big-card">
    <a class="product-card-big" href="#">
        <div class="image-card">
            @*här kommer jag lägga en if sats som kollar om en bild finns, om bilden finns då hämtar den en <img/>. Annars hämtas placeholder*@
            <div class="image-placeholder"></div>
        </div>
        <div class="card-information">
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <span class="star-total">(3)</span>
            </div>
            <h3>Summer pants</h3>
            <span class="price">$31.78</span>
        </div>
    </a>
    <div class="card-menu">
        <a class="wish-list" href="#"><i class="fa-thin fa-heart"></i></a>
        <a class="shopping-cart" href="#"><i class="fa-thin fa-bag-shopping"></i></a>
    </div>
</div>