@model EditProfileViewModel
@{
    ViewData["Title"] = "Edit Profile";
}

<!-- Edit Profile -->
<div class="editprofile">
    <div class="container">
        <div class="breadcrumb">
            <span><a asp-action="index" asp-controller="account"><i class="fa-regular fa-angle-left"></i></a></span>
            <h4>Edit profile</h4>
        </div>

        <form id='editProfileForm' enctype="multipart/form-data" method="post">
            <div class="heading">
                <div class="line"></div>
                <div class="uploadimage">
                    <img src="~/images/users/no-thumb.jpg">
                    <label asp-for="ProfilePicture"><i class=" fa-regular fa-camera"></i></label>
                    <input asp-for="ProfilePicture" />
                </div>
            </div>
            <div class="input">
                <label for="name">NAME</label>
                <input for="name" value="Name">
            </div>
            <div class="input">
                <label for="email">EMAIL</label>
                <input for="email" value="email@domain.com">
            </div>
            <div class="input">
                <label for="phoneNumber">PHONE NUMBER</label>
                <a asp-action="phonenumber" asp-controller="account"><input for="phoneNumber" value="@ViewBag.PhoneNumber"></a>
            </div>
            <div class="input">
                <label for="address">LOCATION</label>
                <a asp-action="adress" asp-controller="account"><input for="address" value="@ViewBag.Adress"></a>
            </div>
            <button class="button-blck" type="submit">SAVE CHANGES</button>
        </form>
    </div>
</div> 

<partial name="/Views/Partials/Sections/_Navbar.cshtml" />