@model EditProfileViewModel
@{
    ViewData["Title"] = "Verify your email";
}

<!-- Verify -->
<div class="verify-phonenumber-section">
    <div class="container">
        <section class="top-menu-section">
            <span><a asp-action="index" asp-controller="login"><i class="fa-regular fa-angle-left"></i></a></span>
            <h4>Forgot password</h4>
        </section>

        @if (ViewBag.Email == null)
        {
        <div class="page1">
            <div class="heading">
                <p>Please enter your email address. You will receive a link to create a new password via email.</p>
            </div>
            <form id='verifyForm' method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input">
                    <label asp-for="Email">EMAIL</label>
                    <input asp-for="Email">
                </div>
                <button type="submit" class="btn btn-dark" id="confirmButton">SEND</button>
            </form>
        </div>
        }
        else
        {
        <div class="page2">
            <div class="heading">
                <div>
                    <img src="~/assets/images/theme/created.svg">
                </div>
                <div class="line"></div>
                <p>We have sent an email to <b>@ViewBag.Email</b>, please check your inbox.</p>
            </div>
        </div>
        }
    </div>
</div>