@model Profile
@{
    ViewData["Title"] = "Account";
}

<!-- Account -->
<div class="account-section">
    <div class="container">
        <section class="top-menu-section">
            <partial name="/Views/Partials/Components/_Burger.cshtml" />
            <h4>My Profile</h4>
            <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
        </section>

        <div class="heading">
            <div class="line"></div>
            <div class="editprofilebtn">
                <img src="~/assets/images/users/@Model.ImageUrl">
                <a asp-action="edit" asp-controller="account"><i class="fa-regular fa-pen-line"></i></a>
            </div>
            <h3>@Model.Name</h3>
            <p>@Model.Email</p> 
        </div>

        <div class="usersections">
            <a href="/" class="usersection">
                <div class="usersectionicon">
                    <i class="fa-regular fa-rectangle-vertical-history"></i>
                    <span>Order history</span>
                </div>
                <i class="fa-regular fa-angle-right"></i>
            </a>
            <a href="/" class="usersection">
                <div class="usersectionicon">
                    <i class="fa-regular fa-credit-card"></i>
                    <span>Payment method</span>
                </div>
                <i class="fa-regular fa-angle-right"></i>
            </a>
            <a href="/" class="usersection">
                <div class="usersectionicon">
                    <i class="fa-regular fa-location-dot"></i>
                    <span>My address</span>
                </div>
                <i class="fa-regular fa-angle-right"></i>
            </a>
            <a href="/" class="usersection">
                <div class="usersectionicon">
                    <i class="fa-regular fa-gift"></i>
                    <span>My promocodes</span>
                </div>
                <i class="fa-regular fa-angle-right"></i>
            </a>
            <a class="usersection" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="usersectionicon">
                    <i class="fa-regular fa-arrow-right-from-bracket"></i>
                    <span>Sign out</span>
                </div>
            </a>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog mymodal">
                <div class="modal-content mymodal-content">
                    <div class="mymodal-body">
                        <div class="line"></div>
                        <h4 class="modal-title">Are you sure you want to sign out ?</h4>
                    </div>
                    <div class="mymodal-footer">
                        <a type="button" asp-action="logout" asp-controller="account" asp-asp-controller="login" class="btn btn-dark">SURE</a>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">CANCEL</button>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>

<partial name="/Views/Partials/Sections/_Navbar.cshtml" />