@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<div class="register-section">
    <div class="container">
        <section class="top-menu-section">
            <span><a href="/"><i class="fa-regular fa-angle-left"></i></a></span>
            <h4>Reset Password</h4>
        </section>

        @if (ViewBag.ResetPassword == true)
        {
            <div class="heading">
                <div>
                    <img src="~/assets/images/theme/created.svg">
                </div>
                <div class="line"></div>
                <h1>Password is reset.</h1>
                <p>Please try to login.</p>
            </div>

            <a asp-action="index" asp-controller="login" class="btn btn-dark" type="button">LOGIN</a>
        }
        else
        {
            <div class="heading">
                <p>Enter new password and confirm.</p>
            </div>

            <form id='registerForm' enctype="multipart/form-data" method="post" class="was-validated">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input">
                    <label asp-for="Password">NEW PASSWORD</label>
                    <input asp-for="Password" class="form-control is-valid" required>
                    <small class="text-danger"><span asp-validation-for="Password"></span></small>
                </div>
                <div class="input">
                    <label asp-for="ConfirmPassword">CONFIRM PASSWORD</label>
                    <input asp-for="ConfirmPassword" class="form-control is-valid" required>
                    <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
                </div>
                <button class="btn btn-dark" type="submit">CHANGE PASSWORD</button>
            </form>
        }
    </div>
</div>