@{
    ViewData["Title"] = "Manero - Backoffice";
}

<div class="container d-flex justify-content-between">
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
    <a asp-action="CreateProduct" asp-controller="BackOffice">Create Product</a>
</div>