@model BackOfficeViewModel

@{
    ViewData["Title"] = "Manero - Backoffice";
}

<header>
    <div class="container d-flex justify-content-between">
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
        <a asp-action="CreateProduct" asp-controller="BackOffice">Create Product</a>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <p>@product.ProductName</p>
                @foreach (var tag in product.Tags)
                {
                    <p>@tag.Tag</p>
                }
            }
        </div>
    </div>
</section>