@import "../core/_variables.scss";

.btn {
    width: 100%;
    height: 50px;
    font-weight: $font-weight-semibold;
    font-size: 14px;
    border: 1px solid transparent;
    border-radius: $border-radius-medium;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 0.3s ease-in-out !important;
}

.btn-dark {
    background-color: $color-main-black;
    color: white;

    &:hover {
        background-color: white;
        color: $color-main-black;
        border: 1px solid black;
    }
}

.btn-white {
    background-color: white;
    color: $color-main-black;

    &:hover {
        background-color: $color-main-black;
        color: white;
        border: 1px solid black;
    }
}