// Makes the scroll bar snap to category elements
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 3.5%;

    > * {
        scroll-snap-align: start;
    }
}

.category-scroller {
    padding-left: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 3.5%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;

    /* Hide the scrollbar by making it transparent */
    &::-webkit-scrollbar {
        display: none;
    }

    .category-element {
        display: grid;
        justify-items: center;
        justify-content: center;

        .content-container {
            font-size: 14px;
            text-decoration: none;

            .active {
                background-color: $color-main-blue;
            }

            .pill-shape {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $border-radius-medium;
                height: 30px;

                .category-name {
                    padding-left: 20px;
                    padding-right: 20px;
                    margin: 0;
                    color: $color-main-black;
                    font-weight: $font-weight-semibold;
                }
            }  
        }

        .category-container {
            display: grid;
            justify-items: center;
            text-decoration: none;

            > img {
                box-shadow: 0 0 4px 1px rgba(17, 17, 17, 0.2);
                background-color: white;
                object-fit: cover;
                height: 70px;
                width: 70px;
                border-radius: $border-radius-rounded;
            }
    
            .category-name {
                margin: 0;
                color: $color-main-black;
                font-weight: $font-weight-semibold;
                
            }
        }
    }
}