.product-card-small {
    width: 95%;
    display: flex;

    a {
        text-decoration: none;
    }

    .product-card-small-left {
        margin-right: 15px;

        .sale-banner {
            position: absolute;
            font-size: 10px;
            font-weight: $font-weight-bold;
            background-color: $color-discount-green;
            color: white;
            margin: 0;
            padding: 2px 5px;
            top: 0;
        }

        .product-image {
            width: 100px;
            height: 100px;
            background-color: $color-main-blue;

            img {
                object-fit: cover;
                width: 100px;
                height: 100px;
            }
        }
    }

    .product-card-small-right {
        width: 100%;


        .product-details {
            margin-top: 5px;
            display: flex;
            flex-direction: column;


            .upper-details {
                display: flex;
                justify-content: space-between;

                .product-title {
                    color: $color-main-grey;
                    font-size: 14px;
                    font-weight: $font-weight-regular;
                    margin-bottom: 16px;
                }

                .wish-list {
                    color: $color-main-black;
                    text-decoration: none;

                    i {
                        transition: 0.3s ease-in-out;

                        &:hover {
                            color: $color-accent-red;
                            font-weight: $font-weight-bold;
                        }
                    }
                }
            }

            .lower-details {
                display: flex;
                flex-direction: column;

                .product-price {
                    font-size: 14px;
                    font-weight: $font-weight-semibold;
                    margin-bottom: 12px;
                }

                ul {
                    padding: 0;
                    display: flex;
                    gap: 4px;
                    list-style: none;

                    li {
                        font-size: 13px;
                        color: $color-rating-yellow;
                    }

                    .review-amount {
                        color: $color-main-grey;
                    }
                }
            }
        }
    }
}
