@{
    ViewData["Title"] = "Search";
}

<!-- Search -->
<div class="search">
    <div class="container">
        <section class="top-menu-section">
            <partial name="/Views/Partials/Components/_Burger.cshtml" />
            <h4>Searchbar**</h4>
            <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
        </section>
    </div>
    <Partial name="/Views/Partials/Sections/_CategoryScrollerPill.cshtml" />
    <Partial name="/Views/Partials/Sections/_CategoryGrid.cshtml" />
    <div class="container">
        <partial name="/Views/Partials/Sections/_Navbar.cshtml" />
    </div>
</div>
