@{
    ViewData["Title"] = "Search";
}

<!-- Search -->
<header class="search">
    <div class="container">
        <section class="top-menu-section">
            <partial name="/Views/Partials/Components/_Burger.cshtml" />
            <h4>Searchbar**</h4>
            <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
        </section>

    </div>
</header>

<Partial name="/Views/partials/Sections/_CategoryGrid.cshtml" />

<partial name="/Views/Partials/Sections/_Navbar.cshtml" />