@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');


$color-main-black: #111111;
$color-main-grey: #626262;

$color-main-blue: #DBE3F5;
$color-main-blue-30p: #F4F7FC;

$color-accent-red: #F4303C;

$color-rating-yellow: #FFBE00;

$color-discount-orange: #EF962D;
$color-discount-green: #00824B;

$color-tag-green: #69864D;
$color-tag-yellow: #CFA93F;
$color-tag-purple: #864D7D;


$font-main: 'Mulish', sans-serif;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


$border-radius-small: 8px;
$border-radius-medium: 30px;
$border-radius-rounded: 50%;


$breakpoint-sm: 576px;
$breakpoint-sm-max-width: 540px;
$breakpoint-md: 768px;
$breakpoint-md-max-width: 720px;
$breakpoint-lg: 992px;
$breakpoint-lg-max-width: 960px;
$breakpoint-xl: 1200px;
$breakpoint-xl-max-width: 1140px;
$breakpoint-xxl: 1400px;
$breakpoint-xxl-max-width: 1320px;
$breakpoint-xxxl: 2500px;
$breakpoint-xxxl-max-width: 2048px;
@import "./breakpoints";