@{
    ViewData["Title"] = "Best Sellers";
}

<!--Home-->
<header class="tag">
    <div class="container">
        <section class="top-menu-section">
            <span><a href = "/"><i class="fa-regular fa-angle-left"></i></a></span>
            <h4>Featured Products</h4>
        </section>

    </div>
</header> 