.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 3.5%;

    > * {
        scroll-snap-align: start;
    }
}

.category-scroller {
    padding-left: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 3.5%;
    margin-bottom: 50px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding-top: 8px;
    /* Hide the scrollbar by making it transparent */
    &::-webkit-scrollbar {
        display: none;
    }

    .category-element {
        display: grid;
        justify-items: center;
        justify-content: center;
        text-decoration: none;

        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 70px;
            width: 70px;
            // background-color: $color-main-blue;
            border-radius: 50%;

            > img {
                box-shadow: 0 0 4px 1px rgba(17, 17, 17, 0.2);
                background-color: white;
                object-fit: cover;
                height: 70px;
                width: auto;
                border-radius: 50%;
            }
        }

        .category-name {
            margin: 0;
            color: #111111;
            font-weight: 500;
        }
    }
}
