@import '../core/_variables';

.product-reviews-section {

    .container-sm {

        .review-view-all {
            display: flex;
            justify-content: space-between;

            a {
                color: $color-main-black;
                text-decoration: none;

                i {
                    margin-left: 3px;
                    font-weight: $font-weight-bold;
                }
            }
        }
    }

    .review {
        display: flex;

        .container-sm {
            border-bottom: 1px solid $color-main-blue;
            margin-top: 20px;

            .review-info {
                display: flex;
                justify-content: space-between;

                .name-date {
                    margin-right: auto;
                    margin-left: 12px;

                    .name {
                        color: $color-main-black;
                        font-weight: $font-weight-semibold;
                        margin-bottom: 4px;
                    }
                }

                .product-rating {

                    i {
                        color: $color-rating-yellow;
                        font-size: 12px;
                    }
                }

                .review-date {
                    font-size: 10px;
                    font-weight: $font-weight-regular;
                }
            }

            .review-text {
                padding-left: 60px;
                margin: 5px 25px 45px 0;
                font-size: 14px;
                font-weight: $font-weight-regular;
            }
        }
    }
}