@import '../core/_variables';

.product-reviews-section {

    .container {

        .review-view-all {
            display: flex;
            justify-content: space-between;

            a {
                color: $color-main-black;
                text-decoration: none;

                i {
                    margin-left: 3px;
                    font-weight: $font-weight-bold;
                }
            }

            @media (min-width: 1199.98px) {
                a {
                    font-size: 1.2em;
                }
            }
        }
    }

    .review-item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 15px;
        padding: 0px 0px 40px 0px;
        margin-bottom: 30px;
        border-bottom: 1px solid $color-main-blue;

        .review-image-section {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: $color-main-blue;
            overflow: hidden;

            img {
                object-fit: cover;
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }

            .user-icon {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: end;
                color: #bfc7d8;
                font-size: 38px;
            }
        }

        .review-body-section {
            display: grid;
            gap: 10px;

            .body-name-rating {
                display: flex;
                justify-content: space-between;

                .review-name {
                    margin: 0;
                    color: $color-main-black;
                    font-weight: $font-weight-semibold;
                    margin-bottom: 3px;
                }

                .review-date {
                    margin: 0;
                    font-size: 10px;
                }

                .rating-list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;

                    .star {
                        font-size: 14px;
                        padding: 0px 1px;
                        color: $color-rating-yellow;
                    }
                }
            }

            .body-comment {
                display: grid;

                .review-comment {
                    margin: 0;
                    font-size: 14px;
                }
            }
        }
    }

    .review {
        display: flex;

        .container {
            border-bottom: 1px solid $color-main-blue;
            margin-top: 20px;

            .review-info {
                display: flex;
                justify-content: space-between;

                .name-date {
                    margin-right: auto;
                    margin-left: 12px;

                    .name {
                        color: $color-main-black;
                        font-weight: $font-weight-semibold;
                        margin-bottom: 4px;
                    }
                }

                .product-rating {

                    i {
                        color: $color-rating-yellow;
                        font-size: 12px;
                    }
                }

                @media (min-width: 1199.98px) {
                    .product-rating {

                        i {
                            color: $color-rating-yellow;
                            font-size: 16px;
                        }
                    }
                }





                .review-date {
                    font-size: 10px;
                    font-weight: $font-weight-regular;
                }
            }

            .review-text {
                padding-left: 60px;
                margin: 5px 25px 45px 0;
                font-size: 14px;
                font-weight: $font-weight-regular;
            }

            @media (min-width: 1199.98px) {
                .name-date {
                    .name {
                        font-size: 1.1em;
                    }

                    .review-date {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}