.showcase-section {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #dbe3f5;
        padding-top: 33px;
        padding-bottom: 33px;
        background-size: cover;
        background-position: center;

        .showcase-content {
            width: 50%;

            h2 {
                color: white;
                font-size: 22px;

                @media (min-width: 1050px) {
                    text-align: center;
                    margin-bottom: 50px;
                }
            }

            @media (min-width: 1050px) {
                align-self: center;
                justify-content: center;
            }
        }
    }
}
