@import "../core/_variables.scss";

.track-order-section {

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 45px 20px 35px 20px;

        & .heading {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 15px;

            & img {
                margin-bottom: 15px;
            }

            & .line {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                border-left: 2px solid black;
                margin: auto;
                margin-bottom: 10px;
            }

            & h3 {
                display: flex;
                justify-content: center;
                color: $color-main-black; 
                font-weight: 700;
            }

            & p {
                color: #626262;
            }
        }

        & .tracking {
            display: grid;
            justify-content: center;
            width: 80%;
            gap: 15px;

            & .order-status {
                display: flex;
                gap: 25px;

                & .order-status-icon {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $color-main-black;
                    border-radius: $border-radius-rounded;
                    width: 30px;
                    height: 30px;

                    & .dot {
                        border-radius: $border-radius-rounded;
                        width: 12px;
                        height: 12px;
                    }

                    & .active {
                        background-color: $color-main-black;
                    }

                    & .line {
                        position: absolute;
                        left: 14px;
                        top: 35px;
                        border: 1px solid black;
                        height: 35px;
                    }
                }

                & .order-status-text {
                    display: grid;

                    & h5 {
                        color: black;
                        font-size: 16px;
                        font-weight: 700;
                    }

                    & p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}
