@import "../core/_variables.scss";

.verify-phonenumber-section {

    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        padding: 45px 20px 35px 20px;

        & .page1 {

            & .heading {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-bottom: 50px;

                & p {
                    color: #626262;
                }
            }

            & #verifyForm {
                display: grid;
                width: 100%;
                gap: 20px;
                margin-bottom: 30px;

                & .input {
                    position: relative;
                    display: flex;

                    & label {
                        background-color: white;
                        position: absolute;
                        left: 20px;
                        top: -8px;
                        padding: 0 10px 0 10px;
                        font-size: 12px;
                        color: #626262;
                    }

                    & input {
                        width: 100%;
                        height: 50px;
                        border-radius: 30px;
                        border-color: #DBE3F5;
                        border-style: solid;
                        padding-left: 20px;
                    }
                }
            }
        }

        & .page2 {

            & .heading {
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin-bottom: 50px;

                & p {
                    color: #626262;
                }
            }

            & #otpForm {
                display: grid;
                width: 100%;
                gap: 20px;
                margin-bottom: 30px;

                & .input {
                    display: flex;
                    gap: 6px;

                    & input {
                        background-color: #DBE3F5;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        border-color: #DBE3F5;
                        border-style: solid;
                        padding-left: 23px;
                        font-size: 20px;
                    }
                }

                & .otplink {
                    display: flex;
                    align-self: baseline;

                    & p {
                        color: #626262;

                        & a {
                            text-decoration: none;
                            color: #111111;
                        }
                    }
                }
            }
        }
    }
}