@{
    ViewData["Title"] = "Home";
}

<!-- Home -->
<header class="home">
    <div class="container">
        <section class="top-menu-section">
            <partial name="/Views/Partials/Components/_Burger.cshtml" />
            <a href="/"><img src="~/assets/images/logo.svg"></a>
            <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
        </section>    
        

    </div>
</header> 

<partial name="/Views/Partials/Sections/_Navbar.cshtml" />