
﻿@{
    ViewData["Title"] = "Home";
}

<!-- Home -->
<header class="home">
    <div class="container">
        <div class="topmenu">
            <span><a href="#contactDetails" role="button" data-bs-toggle="offcanvas" aria-controls="contactDetails"><i class="fa-solid fa-bars"></i></a></span>
            <img src="~/assets/images/logo.svg">
            <div class="cart"><a href="/"><i class="fa-regular fa-basket-shopping-simple"></i></a></div>

            <div class="offcanvas offcanvas-start" tabindex="-1" id="contactDetails" aria-labelledby="contactDetailsLabel">
                <div class="offcanvas-header">
                    <div class="line"></div>
                    <h3>Contact us</h3>
                </div>
                <div class="offcanvas-body">
                    <div class="contact-details">
                        <div class="contact-details-icon"><i class="fa-regular fa-location-dot"></i></div>
                        <div class="contact-details-text">
                            <p>27 Division St, New York,</p>
                            <p>NY 10002, USA</p>
                        </div>
                    </div>
                    <hr>
                    <div class="contact-details">
                        <div class="contact-details-icon"><i class="fa-regular fa-envelope"></i></div>
                        <div class="contact-details-text">
                            <p><a href="mailto:manerosale@mail.com">manerosale@mail.com</a></p>
                            <p><a href="mailto:manerosupport@mail.com">manerosupport@mail.com</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="contact-details">
                        <div class="contact-details-icon"><i class="fa-solid fa-phone-volume"></i></div>
                        <div class="contact-details-text">
                            <p><a href="tel:+17123456789">+17 123456789</a></p>
                            <p><a href="tel:+17987654321">+17 987654321</a></p>
                        </div>
                    </div>
                </div>
                <div class="offcanvas-footer">
                    <form id='trackForm' method="post" novalidate>
                        <div class="input" >
                            <label for="orderNumber">ORDER NUMBER</label>
                            <input for="orderNumber" id="orderNumber" name="orderNumber" required>
                        </div>
                        <button type="submit" class="btn-dark"><i class="fa-regular fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>       
        

    </div>
</header> 

