@{
    ViewData["Title"] = "Wish";
}

<!-- Home -->
<header class="wish">
    <div class="container">
        <section class="top-menu-section">
            <partial name="/Views/Partials/Components/_Burger.cshtml" />
            <h4>Wishlist</h4>
            <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
        </section>

    </div>
</header> 

<partial name="/Views/Partials/Sections/_Navbar.cshtml" />