
@model ProductsViewModel
@{

}
<header class="home">
    <div class="container">
        <section class="top-menu-section">
            <partial name="/Views/Partials/Components/_Burger.cshtml" />
            <a href="/"><img src="~/assets/images/theme/logo.svg"></a>
            <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
        </section>

        <partial name="/Views/Partials/Sections/_Navbar.cshtml" />
    </div>
</header>
<partial name="/Views/Partials/Sections/_ProductFilterOffcanvas.cshtml" model="Model.ProductFilters" />

<section class="best-sellers">
    <div class="banner-title">
        <h1>@Model.CurrentFilter</h1>
        <a href="">view all<i class="fa-solid fa-angle-right"></i></a>
    </div>
    <div class="best-products">
        @foreach (var product in Model.Products)
        {

            <Partial name="/Views/Partials/Components/_Product-Card-Small.cshtml" model="product" />

        }
    </div>
</section>
