<!--top menu section-->
<div class="container">
    <section class="top-menu-section">
        <partial name="/Views/Partials/Components/_Burger.cshtml" />
        <a href="/"><img src="~/assets/images/theme/logo.svg"></a>
        <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
    </section>
</div>
<!--end top menu section-->

<partial name="/Views/Partials/Sections/_ProductDetailsSection.cshtml" />
<partial name="/Views/Partials/Sections/_ProductReviewsSection.cshtml" />
