<!-- Button to trigger offcanvas -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas">
    Open Filters
</button>
<partial name="/Views/Partials/Sections/_ProductFilterOffcanvas.cshtml" />

<partial name="/Views/Partials/Sections/_ProductDetailsSection.cshtml" />
<partial name="/Views/Partials/Sections/_ProductReviewsSection.cshtml" />
