<!--top menu section-->
<div class="container">
    <section class="top-menu-section">
        <span><a asp-action="index" asp-controller="home"><i class="fa-regular fa-angle-left"></i></a></span>
        <a href="/"><img src="~/assets/images/theme/logo.svg"></a>
        <partial name="/Views/Partials/Components/_ShoppingCart.cshtml" />
    </section>
</div>
<!--end top menu section-->

<partial name="/Views/Partials/Sections/_ProductDetailsSection.cshtml" />
<partial name="/Views/Partials/Sections/_ProductReviewsSection.cshtml" />

<div class="container">
    <partial name="/Views/Partials/Sections/_Navbar.cshtml" />
</div>