@model UserRegisterViewModel
@{
    ViewData["Title"] = "User Successfully Registered";
}

<section class="register-section">
    <div class="container">
        <section class="top-menu-section">
            <span><a href="/"><i class="fa-regular fa-angle-left"></i></a></span>
            <img src="~/assets/images/logo.svg">
        </section>

        <div class="heading">
            <div>
                <img src="~/assets/images/created.svg">
            </div>
            <div class="line"></div>
            <h1>Account Created!</h1>
            <p>Your account had beed created successfully.</p>
        </div>

        <a href="/" class="btn btn-dark">SHOP NOW</a>
    </div>
</section>  